@{
    ViewBag.Title = "Xác nhận mật khẩu";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="account_grid">
    <div class="login-right">
            <p>
                Xin vui lòng kiểm tra email.
            </p>
    </div>
</div>
