<div>
    <div>
        <h3>Custom templates without ng-repeat and auto-slide</h3>
        <div class="details">
        </div>
        <div class="carousel-demo">
            <ul rn-carousel rn-carousel-index="3" rn-carousel-auto-slide="3" class="carousel5">
                <li>Slide 1</li>
                <li>Slide 2</li>
                <li>Slide 3</li>
                <li>Slide 4</li>
                <li>Slide 5</li>
                <li>Slide 6</li>
                <li>Slide 7</li>
                <li>Slide 8</li>
                <li>Slide 9</li>
            </ul>
        </div>
    </div>
</div>
