USE [PhuocConShop]
GO
/****** Object:  StoredProcedure [dbo].[GetRevenueStatistic]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRevenueStatistic]
    @fromDate [nvarchar](max),
    @toDate [nvarchar](max)
AS
BEGIN
    
    select 
    o.CreatedDate as Date,
    SUM(od.Quantity * od.Price) as Revenues,
    SUM((od.Quantity * od.Price) - (od.Quantity * p.OriginalPrice)) as Benefit
    from Orders o
    inner join OrderDetails od on o.ID = od.OrderID
    inner join Products p on p.ID = od.ProductID
    where o.CreatedDate < = CAST(@toDate as date) and o.CreatedDate >= CAST(@fromDate as date)
    group by o.CreatedDate
    
END
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ApplicationClaims]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ApplicationClaims] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationGroups]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationGroups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.ApplicationGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationRoleGroups]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationRoleGroups](
	[GroupId] [int] NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationRoleGroups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationRoles]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](250) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserGroups]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserGroups](
	[UserId] [nvarchar](128) NOT NULL,
	[GroupId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationUserGroups] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserLogins]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](max) NULL,
	[ProviderKey] [nvarchar](max) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ApplicationUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserRoles]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[IdentityRole_Id] [nvarchar](128) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ApplicationUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUsers]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](256) NULL,
	[Adress] [nvarchar](256) NULL,
	[BirthDay] [datetime] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ApplicationUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactDetails]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Website] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Other] [nvarchar](max) NULL,
	[Lat] [float] NULL,
	[Lng] [float] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ContactDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Errors]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Errors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Message] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Feedbacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Footers]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Footers](
	[ID] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Footers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuGroups]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuGroups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.MenuGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menus]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[URL] [nvarchar](256) NOT NULL,
	[DisplayOrder] [int] NULL,
	[GroupID] [int] NOT NULL,
	[Target] [nvarchar](10) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](256) NOT NULL,
	[CustomerAdress] [nvarchar](256) NOT NULL,
	[CustomerEmail] [nvarchar](256) NOT NULL,
	[CustomerMobile] [nvarchar](50) NOT NULL,
	[CustomerMessage] [nvarchar](256) NOT NULL,
	[PaymentMethod] [nvarchar](256) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[PaymentStatus] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[CustomerID] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pages]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [varchar](256) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](256) NULL,
	[Metakeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Pages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PostCategories]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PostCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [varchar](256) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ParentID] [int] NULL,
	[DisplayOrder] [int] NULL,
	[Image] [nvarchar](256) NULL,
	[HomeFlag] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](256) NULL,
	[Metakeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PostCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Posts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [varchar](256) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Image] [nvarchar](256) NULL,
	[Description] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NULL,
	[HomeFlag] [bit] NULL,
	[HotFlag] [bit] NULL,
	[ViewCount] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](256) NULL,
	[Metakeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PostTags]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PostTags](
	[PostID] [int] NOT NULL,
	[TagID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.PostTags] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ParentID] [int] NULL,
	[DisplayOrder] [int] NULL,
	[Image] [nvarchar](256) NULL,
	[HomeFlag] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](256) NULL,
	[Metakeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [nvarchar](256) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Image] [nvarchar](256) NULL,
	[MoreImages] [xml] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PromotionPrice] [decimal](18, 2) NULL,
	[Warranty] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NULL,
	[HomeFlag] [bit] NULL,
	[HotFlag] [bit] NULL,
	[ViewCount] [int] NULL,
	[Tags] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[OriginalPrice] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](256) NULL,
	[Metakeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductTags]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductTags](
	[ProductID] [int] NOT NULL,
	[TagID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.ProductTags] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Slides]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slides](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](256) NULL,
	[Image] [nvarchar](256) NULL,
	[URL] [nvarchar](256) NULL,
	[DisplayOrder] [int] NULL,
	[Status] [bit] NOT NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Slides] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SupportOnlines]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportOnlines](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](50) NULL,
	[Skype] [nvarchar](50) NULL,
	[Facebook] [nvarchar](50) NULL,
	[Zalo] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_dbo.SupportOnlines] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[ID] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VisistorStatistics]    Script Date: 12/15/2016 4:57:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisistorStatistics](
	[ID] [uniqueidentifier] NOT NULL,
	[VisitedDate] [datetime] NOT NULL,
	[IPAddress] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.VisistorStatistics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ApplicationGroups] ON 

INSERT [dbo].[ApplicationGroups] ([ID], [Name], [Description]) VALUES (1, N'Mua Hàng', NULL)
SET IDENTITY_INSERT [dbo].[ApplicationGroups] OFF
INSERT [dbo].[ApplicationRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'28d2a7fe-9222-4087-a55f-1ac891454423', N'Quản lý nhân viên', N'Quản lý nhân viên', N'ApplicationRole')
INSERT [dbo].[ApplicationRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'38c8a22f-8551-45f8-aa98-1debac7e9506', N'User', NULL, N'')
INSERT [dbo].[ApplicationRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'da193e2e-5e7a-49be-bff7-521304262ced', N'Admin', NULL, N'')
INSERT [dbo].[ApplicationUsers] ([Id], [FullName], [Adress], [BirthDay], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'a6ad3d6d-f8b0-4798-b6ad-7726bb27c8d2', N'Technology Education', NULL, CAST(0x0000A6A801616DC9 AS DateTime), N'phuoccon@gmail.com', 1, N'ACaNELmwqzgfUYLX7PMWxqlRHjDOMHPVa8BG7mSmohyitg0BkXjGAZQoqmbbLsrtDQ==', N'ffc41120-221e-44b6-865c-045caa2f896a', NULL, 0, 0, NULL, 0, 0, N'phuoccon')
SET IDENTITY_INSERT [dbo].[ContactDetails] ON 

INSERT [dbo].[ContactDetails] ([ID], [Name], [Phone], [Email], [Website], [Address], [Other], [Lat], [Lng], [Status]) VALUES (1, N'Shop Thoi Trang Phuoc Con', N'0927384672', N'PhuocCon@gamil.com', N'PhuocCon.com.vn', N'Ho Chi Minh ', N'', 21.0633645, 105.8053274, 1)
SET IDENTITY_INSERT [dbo].[ContactDetails] OFF
SET IDENTITY_INSERT [dbo].[Errors] ON 

INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (1, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass2_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 38
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D800F6CF13 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (2, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass2_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 38
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D800F6D550 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (3, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass2_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 38
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D800F6E5CB AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (4, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass2_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 38
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D800F70208 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (5, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass2_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 38
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D800F708E7 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (6, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass3_0.<GetAll>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 61
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D800FA97F0 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (7, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass3_0.<GetAll>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 61
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D800FA9D43 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (8, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass3_0.<GetAll>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 61
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D800FAF04F AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (9, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D800FB0B06 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (10, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D800FB0F03 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (11, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass2_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 38
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D800FB14B8 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (12, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D800FB1669 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (13, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D8013610F3 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (14, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D8013635A1 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (15, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D801364987 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (16, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D801366CB9 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (17, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D80137E339 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (18, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D900E37665 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (19, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D900EB8CB0 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (20, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D900EE9CE5 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (21, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D900EEAE64 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (22, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D900F0F16E AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (23, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D900F34269 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (24, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D900F82312 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (25, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D900F842EE AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (26, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D900F92801 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (27, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D901001E34 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (28, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass2_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 38
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D90112FB3A AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (29, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationGroup -> ApplicationGroupViewModel
PhuocCon.Model.Models.ApplicationGroup -> PhuocCon.Web.Models.ApplicationGroupViewModel

Destination path:
IEnumerable`1[0]

Source value:
PhuocCon.Model.Models.ApplicationGroup', N'   at PhuocCon.Web.API.ApplicationGroupController.<>c__DisplayClass4_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationGroupController.cs:line 44
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D9011372AB AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (30, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass2_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 38
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D9011375A1 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (31, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass2_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 38
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D901151196 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (32, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass2_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 38
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D90116E353 AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (33, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass2_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 38
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D90117114E AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (34, N'Missing type map configuration or unsupported mapping.

Mapping types:
ApplicationRole -> ApplicationRoleViewModel
PhuocCon.Model.Models.ApplicationRole -> PhuocCon.Web.Models.ApplicationRoleViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.ApplicationRole_B91EF96C0EF57249DAEC495EA8E0F47F11DA70008CAC05C29F3D4AAC766A4283', N'   at PhuocCon.Web.API.ApplicationRoleController.<>c__DisplayClass2_0.<GetListPaging>b__0() in E:\API\web\PhuocCon\PhuocCon.Web\API\ApplicationRoleController.cs:line 38
   at PhuocCon.Web.Infrastructure.Core.ApiControllerBase.CreateHttpReponse(HttpRequestMessage requesrMessage, Func`1 function) in E:\API\web\PhuocCon\PhuocCon.Web\Infrastructure\Core\ApiControllerBase.cs:line 25', CAST(0x0000A6D901173144 AS DateTime))
SET IDENTITY_INSERT [dbo].[Errors] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [CustomerName], [CustomerAdress], [CustomerEmail], [CustomerMobile], [CustomerMessage], [PaymentMethod], [CreatedDate], [CreatedBy], [PaymentStatus], [Status], [CustomerID]) VALUES (1, N'sa', N'sasssssssss', N'phuocon@gmail.com', N'1212', N'sá', N'thanh toan', CAST(0x0000A6CD01666E45 AS DateTime), NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Pages] ON 

INSERT [dbo].[Pages] ([ID], [Name], [Alias], [Content], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (1, N'Gioi Thieu', N'gioi-thieu', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Duis tincidunt, libero quis rhoncus aliquam, velit enim viverra leo, 
                                vitae tristique nibh tellus sed metus. Vestibulum in ullamcorper risus,
                                in pharetra risus. Quisque pulvinar vulputate posuere.
                                Nullam vulputate hendrerit sapien a mollis. Sed urna lorem, faucibus id diam id, volutpat pretium risus.
                                Praesent nisi ante, ultrices vitae erat a, consequat hendrerit lorem.', NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Pages] OFF
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([ID], [Name], [Alias], [Description], [ParentID], [DisplayOrder], [Image], [HomeFlag], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (2, N'Điện Thoại', N'dien-thoai', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[ProductCategories] ([ID], [Name], [Alias], [Description], [ParentID], [DisplayOrder], [Image], [HomeFlag], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (3, N'Phụ Kiện', N'phu-kien', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[ProductCategories] ([ID], [Name], [Alias], [Description], [ParentID], [DisplayOrder], [Image], [HomeFlag], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (4, N'Máy Tính Bảng', N'may-tinh-bang', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [Quantity], [OriginalPrice], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (1, N'phuoccon', N'phuoccon', 3, N'/UploadedFiles/images/ga.png', NULL, CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, N'1', N'<p>1</p>
', NULL, NULL, NULL, N'1', 1, CAST(1.00 AS Decimal(18, 2)), CAST(0x0000A6A2009FC63D AS DateTime), N'', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [Quantity], [OriginalPrice], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (2, N'phuoccon', N'phuoccon', 3, N'/UploadedFiles/images/ga.png', NULL, CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, N'1', N'<p>1</p>
', NULL, NULL, NULL, N'1', 1, CAST(1.00 AS Decimal(18, 2)), CAST(0x0000A6A2009FD151 AS DateTime), N'', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [Quantity], [OriginalPrice], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (3, N'phuoccon', N'phuoccon', 3, N'/UploadedFiles/images/ga.png', NULL, CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, N'1', N'<p>1</p>
', NULL, NULL, NULL, N'1', 1, CAST(1.00 AS Decimal(18, 2)), CAST(0x0000A6A200A06907 AS DateTime), N'', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [Quantity], [OriginalPrice], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (4, N'Tiếng Việt', N'tieng-viet', 3, N'/UploadedFiles/images/ga.png', NULL, CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, N'1', N'<p>1</p>
', 1, 1, NULL, N'1', 1, CAST(1.00 AS Decimal(18, 2)), CAST(0x0000A6A200A18313 AS DateTime), N'', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [Quantity], [OriginalPrice], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (5, N'Tiếng Việt', N'tieng-viet', 3, N'/UploadedFiles/images/ga.png', NULL, CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, N'1', N'<p>1</p>
', NULL, NULL, NULL, N'1', 1, CAST(1.00 AS Decimal(18, 2)), CAST(0x0000A6A200A27057 AS DateTime), N'', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [Quantity], [OriginalPrice], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (6, N'Tiếng Việt111', N'tieng-viet111', 2, N'/UploadedFiles/images/ga.png', NULL, CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, N'1', N'<p>a</p>
', 1, 1, NULL, N'q', 1, CAST(1.00 AS Decimal(18, 2)), CAST(0x0000A6A200ADA487 AS DateTime), N'', CAST(0x0000A6A200EFF312 AS DateTime), N'', NULL, NULL, 0)
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [Quantity], [OriginalPrice], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (7, N'Tiếng VIệt', N'tieng-viet', 2, N'/UploadedFiles/files/14364879_1572746226075946_4844272558006328326_n.jpg', N'["/UploadedFiles/files/14364879_1572746226075946_4844272558006328326_n.jpg","/UploadedFiles/files/ga.png"]', CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, N'1', N'<p>a</p>
', 1, 1, NULL, N'a', 1, CAST(1.00 AS Decimal(18, 2)), CAST(0x0000A6A201002D36 AS DateTime), N'', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [Quantity], [OriginalPrice], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (8, N'âssa', N'assa', 4, N'/UploadedFiles/files/14364879_1572746226075946_4844272558006328326_n.jpg', N'["/UploadedFiles/files/14364879_1572746226075946_4844272558006328326_n.jpg","/UploadedFiles/files/ga.png"]', CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, N'sa', N'<p>sấ</p>
', 1, 1, NULL, N'á', 1, CAST(1.00 AS Decimal(18, 2)), CAST(0x0000A6A8017208A0 AS DateTime), N'phuoccon', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [Quantity], [OriginalPrice], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (9, N'sá', N'sa', 2, N'/UploadedFiles/files/14364879_1572746226075946_4844272558006328326_n.jpg', N'["/UploadedFiles/files/ga.png","/UploadedFiles/files/14364879_1572746226075946_4844272558006328326_n.jpg"]', CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, N'sa', N'<p>ấ</p>
', 1, 1, NULL, N'1sa', 1, CAST(1.00 AS Decimal(18, 2)), CAST(0x0000A6A801828CDC AS DateTime), N'phuoccon', CAST(0x0000A6D90114DF73 AS DateTime), N'phuoccon', NULL, NULL, 1)
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [Quantity], [OriginalPrice], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (10, N'á', N'a', 4, N'/UploadedFiles/files/14364879_1572746226075946_4844272558006328326_n.jpg', N'["/UploadedFiles/files/14364879_1572746226075946_4844272558006328326_n.jpg","/UploadedFiles/files/ga.png"]', CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, N'1a', N'<p>&aacute;</p>
', 1, 1, NULL, N'sa', 1, CAST(1.00 AS Decimal(18, 2)), CAST(0x0000A6A80182E118 AS DateTime), N'phuoccon', CAST(0x0000A6D9011421FD AS DateTime), N'phuoccon', NULL, NULL, 1)
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [Quantity], [OriginalPrice], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (11, N'sa', N'sa', 3, N'/UploadedFiles/files/14364879_1572746226075946_4844272558006328326_n.jpg', N'["/UploadedFiles/files/14364879_1572746226075946_4844272558006328326_n.jpg","/UploadedFiles/files/ga.png"]', CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, N's', N'<p>sa</p>
', 1, 1, NULL, N'sa', 1, CAST(1.00 AS Decimal(18, 2)), CAST(0x0000A6A801833361 AS DateTime), N'phuoccon', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [Quantity], [OriginalPrice], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [Metakeyword], [MetaDescription], [Status]) VALUES (12, N'aá', N'aa', 3, NULL, N'[]', CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, N'sá', N'<p>&aacute;</p>
', NULL, NULL, NULL, N'sa', 1, CAST(1.00 AS Decimal(18, 2)), CAST(0x0000A6A8018A9143 AS DateTime), N'phuoccon', CAST(0x0000A6D9011392EE AS DateTime), N'phuoccon', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
INSERT [dbo].[ProductTags] ([ProductID], [TagID]) VALUES (9, N'1sa')
INSERT [dbo].[ProductTags] ([ProductID], [TagID]) VALUES (7, N'a')
INSERT [dbo].[ProductTags] ([ProductID], [TagID]) VALUES (8, N'a')
SET IDENTITY_INSERT [dbo].[Slides] ON 

INSERT [dbo].[Slides] ([ID], [Name], [Description], [Image], [URL], [DisplayOrder], [Status], [Content]) VALUES (1, N'Slide 1', NULL, N'/Assets/Client/images/bag.jpg', N'#', 1, 1, N'<h2>FLAT 50% 0FF</h2>
                                    <label>FOR ALL PURCHASE <b>VALUE</b></label>
                                    <p>Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et </ p >
                                    < span class="on-get">GET NOW</span>')
INSERT [dbo].[Slides] ([ID], [Name], [Description], [Image], [URL], [DisplayOrder], [Status], [Content]) VALUES (2, N'Slide 2', NULL, N'/Assets/Client/images/bag1.jpg', N'#', 2, 1, N'<h2>FLAT 50% 0FF</h2>
                                <label>FOR ALL PURCHASE <b>VALUE</b></label
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </ p >
                                <span class="on-get">GET NOW</span>')
SET IDENTITY_INSERT [dbo].[Slides] OFF
INSERT [dbo].[Tags] ([ID], [Name], [Type]) VALUES (N'1sa', N'1sa', N'product')
INSERT [dbo].[Tags] ([ID], [Name], [Type]) VALUES (N'a', N'a', N'product')
INSERT [dbo].[Tags] ([ID], [Name], [Type]) VALUES (N'q', N'q', N'product')
ALTER TABLE [dbo].[ApplicationRoles] ADD  DEFAULT ('') FOR [Discriminator]
GO
ALTER TABLE [dbo].[ApplicationClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationClaims] CHECK CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationRoleGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationGroups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ApplicationGroups] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationRoleGroups] CHECK CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationGroups_GroupId]
GO
ALTER TABLE [dbo].[ApplicationRoleGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[ApplicationRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationRoleGroups] CHECK CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationRoles_RoleId]
GO
ALTER TABLE [dbo].[ApplicationUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationGroups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ApplicationGroups] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserGroups] CHECK CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationGroups_GroupId]
GO
ALTER TABLE [dbo].[ApplicationUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[ApplicationUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserGroups] CHECK CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationUsers_UserId]
GO
ALTER TABLE [dbo].[ApplicationUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserLogins] CHECK CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_IdentityRole_Id] FOREIGN KEY([IdentityRole_Id])
REFERENCES [dbo].[ApplicationRoles] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_IdentityRole_Id]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Menus_dbo.MenuGroups_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[MenuGroups] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_dbo.Menus_dbo.MenuGroups_GroupID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.ApplicationUsers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.ApplicationUsers_CustomerID]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.PostCategories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[PostCategories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.PostCategories_CategoryID]
GO
ALTER TABLE [dbo].[PostTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PostTags_dbo.Posts_PostID] FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostTags] CHECK CONSTRAINT [FK_dbo.PostTags_dbo.Posts_PostID]
GO
ALTER TABLE [dbo].[PostTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PostTags_dbo.Tags_TagID] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostTags] CHECK CONSTRAINT [FK_dbo.PostTags_dbo.Tags_TagID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_CategoryID]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductTags_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_dbo.ProductTags_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductTags_dbo.Tags_TagID] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_dbo.ProductTags_dbo.Tags_TagID]
GO
