.has-error{
    color:red;
}
.selected-add,.selected-remove {
    transition: 300ms linear all;
}

.selected,.selected-add.selected-add-active {
    font-size:3em;
    background-color: red;
    color:white;
}

.selected-remove.selected-remove-active {
    background-color:#707070;
    font-size:1em;
}

tbody{
    font-size:11px;
}

.food-table.ng-enter  {
    -webkit-animation:1.5s anim_enter;
    -moz-animation:1.5s anim_enter;
    -o-animation:1.5s anim_enter;
    animation:1.5s anim_enter;
    position:relative;
}
@keyframes anim_enter {
    from {
        left:100%;
    }
    to { 
        left:0;
    }
}

@-webkit-keyframes anim_enter {
    from {
        left:100%;
    }
    to { 
        left:0;
    }
}

.food-table.ng-leave{  
    -webkit-animation:1.5s anim_leave;
    -moz-animation:1.5s anim_leave;
    -o-animation:1.5s anim_leave;
    animation:1.5s anim_leave;
    position:relative;
}

@keyframes anim_leave {
    from { 
        left:0;
    }
    to {
        left:100%;
    }
}

@-webkit-keyframes anim_leave {
    from { 
        left:0;
    }
    to {
        left:100%;
    }
}