<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key ="PageSize" value="20"/>
  <add key ="MaxPage" value="5"/>
  
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="phuoccon.shop@gmail.com"/>
  <add key="FromEmailPassword" value="123456"/>
  <add key="FromName" value="PhuocCon"/>
  <add key="AdminEmail" value="PhuocCon.it@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:6710/"/>
  <add key="EnableBundles" value="false"/>
  
  <!--Setting NganLuong payment-->
  <add key="MerchantId" value="123456"/>
  <add key="MerchantPassword" value="12237287382738232"/>
  <add key="MerchantEmail" value="ngocphuoc1603@gmail.com"/>

  <!--Export-->
  <add key="ReportFolder" value="/Reports" />
</appSettings>
