<style>


</style>
<section class="content-header">
    <h1>
        Đơn hàng
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Đơn hàng</a></li>
        <li class="active">Danh sách đơn hàng</li>
    </ol>
</section>
<div class="row">
    <button class="btn btn-success" ui-sref="order_add">Thêm mới</button>
</div>
<div id="grid1" ui-grid="gridOptions" ui-grid-pagination class="grid" ui-grid-draggable-rows></div>
